body {
  margin: 0 0.5em 0 0.5em;
  text-align: center;
  background-color: #202c37;
}

h3, h4, hr {
  color: #fff;
}

a:link a:active a:visited {
  color: #fff;
}

.note, p, h5 {
  color: #61dafb;
}

.note {
  font-weight: bold;
  font-style: italic;
}